* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
body {
    background: black;
}

:root {
    --right-volume-width: 0px;
    --right-volume-width: 0px
}

.miniature {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 1000;
    background: url(../image/art/grand_blue_opening.jpg);
    background-size: cover;
}

.media {
    position: relative;
    height: 280px;
    width: 648px;
    z-index: 0;
}
video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.abs {
    position: absolute;
    left: 0;
    bottom: 0;
}

.controls {
    width: 624px;
    z-index: 60;
    background: rgba(0, 0, 0, .2);
    margin-left: 12px;
    
}

svg {
    fill: #fff;
}

button {
    width: 36px;
    height: 30px;
    padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
}

.buttons {
    height: 36px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.buttons_left {
    display: flex;
    height: 100%;
    align-items: center;
}

.barre {
    width: 100%;
    height: 5px;
    background-color: rgba(170, 170, 170, .9);
    border-radius: 5px;
    cursor: pointer;
}

.barre, .barre-fill {
    transform: scaleY(0.80);
    transition: all ease-in-out 100ms;
}

.barre_fill > .orb {
    opacity: 0;
    transition: all ease-in-out 100ms;
}
.barre:hover .barre_fill > .orb {
    opacity: 1;
    transform: scale(1);
}
.barre-hover .barre_fill {
    transform: scale(1);
}
.barre:hover .barre-cover {
    transform: scale(1);
}
.barre:hover {
    transform: scale(1);
}
.barre__fill {
    background-color: rgb(189, 0, 47);
    height: 5px;
    border-radius: 5px;
    width: 1%;
    position: relative;
}
.barre-cover {
    width: 10%;
    background:rgba(238, 231, 231, 0.479);
    border-radius: 5px;
}
.barre__fill .orb {
    background-color: rgb(189, 0, 47);
    transform: scale(0);
    margin: -2.5px ;
    position: absolute;
    right: 0;
}

.orb {
    height: 10px;
    width: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.volume-area {
    display: flex;
    height: 30px;
    min-width: 36px;
}
#volume-icon:hover + .volume-panel {
    transform: scale(1);
    opacity: 1;
}
.volume-panel {
    opacity: 0;
    transform: scale(0);
    transform-origin: left;
    transition: all 100ms ease-in;
    cursor: pointer;
    width: 50px;
}
.volume-slider {
    position: relative;
    display: flex;
    align-items: center;
    height: 2.5px;
    border-radius: 2.5px;
    top: 50%;
    margin-top: -1.25px;
    background-color: rgba(170, 170, 170, .5);
    width: 50px;
    left: 0;
}
.volume-slider-white {
    background-color: white;
    position: relative;
    height: 100%;
    width: 0;
}
.volume-slider-handle {
    background-color: white;
    position: absolute;
    height: 7.5px;
    width: 0;
    border-radius: 3.75px;
    margin-top: -2.5px;
    cursor: pointer;
    right: -3.25px;
}

.video-timer {
    transition: all 100ms ease-in-out;
    margin-left: 10px;
    position: absolute;
    left: 75px;
    color: white;
    width: 75px;
}

#fullscreen {
    width: 36px;
    height: 36px;
    position: relative;
}

.circle {
    height: 36px;
    width: 36px;
    border-radius: 36px;
    background: rgba(170, 170, 170, .2);
    transform: scale(0);
    transition: all 250ms ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
}
#fullscreen:hover > .circle{
    transform: scale(1);
}

#playStop::before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    right: 100%;
    width: var(--left-controls-width);
}

.btn {
    opacity: 0.9;
    transition: all 100ms ease-in-out;
}

.btn:hover {
    opacity: 1;
}

#fullscreen::after {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    width: var(--right-controls-width);
}

#fullscreen g {
    opacity: 1;
    transform: scale(1);
    transition: all 150ms ease-in;
}
#fullscreen:hover .fullscreen-button-corner-0{
    opacity: 0.9;
    transform: scale(1.01) translateX(-1px) translateY(-1px);
}
#fullscreen:hover .fullscreen-button-corner-1{
    opacity: 0.9;
    transform: scale(1.01) translateX(1px) translateY(-1px);
}
#fullscreen:hover .fullscreen-button-corner-2{
    transform: scale(1.01) translateX(1px) translateY(1px);
    opacity: 0.9;
}
#fullscreen:hover .fullscreen-button-corner-3{
    transform: scale(1.0) translateX(-1px) translateY(1px);
    opacity: 0.9;
}
*/

.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgb(0, 24, 4);
    z-index: 10000;
}

.ring {
    width: 49%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 24, 4);
}
#ring-first {
    transform-origin: bottom left;
}
#ring-second {
    transform-origin: bottom right;
}
.giri1 {
    animation: giri1 3s cubic-bezier(0,.5,1,.01) forwards;
}
.giri2 {
    animation: giri2 3s cubic-bezier(0,.5,1,.01) forwards;
}
@keyframes giri1 {
    from {
        transform: rotate(0deg);
    }
    23% {
        transform: rotate(-20deg);
    }
    to {
        transform-origin: bottom;
        transform: translate3d(0, 100%, 0) rotate(0deg);
    }
}
@keyframes giri2 {
    from {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(20deg);
    }
    to {
        transform: translate3d(0, 100%, 0) rotate(0deg);
    }
}


.circle {
    position: relative;
    width: 76.53%;
    height: 79.26%;
    filter: url(#wavy) blur(1px);
}

.circle::before {
    content: "";
    position: absolute;
    top: 16.66%;
    left: 16.66%;
    right: 16.66%;
    bottom: 16.66%;
    border: 20px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px #0f0, inset 0 0 20px #0f0;
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent,#0002);
    animation: animate 5s linear infinite;
}
.circle::after {
    content: "";
    position: absolute;
    top: 16.66%;
    left: 16.66%;
    right: 16.66%;
    bottom: 16.66%;
    border: 20px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 50px #fff, inset 0 0 50px #fff;
}

.circle:nth-child(2)::before {
    animation-delay: -2.5s;
}
@keyframes animate {
    0% {
        box-shadow: 0 0 50px #0f0, inset 0 0 50px #0f0;
        filter: hue-rotate(0deg);
    }
    20% {
        box-shadow: 0 0 60px #0f0, inset 0 0 60px #0f0;
    }
    40% {
        box-shadow: 0 0 40px #0f0, inset 0 0 40px #0f0;
    }
    60% {
        box-shadow: 0 0 80px #0f0, inset 0 0 80px #0f0;
    }
    80% {
        box-shadow: 0 0 100px #0f0, inset 0 0 100px #0f0;
    }
    100% {
        box-shadow: 0 0 50px #0f0, inset 0 0 50px #0f0;
        filter: hue-rotate(360deg);
    }
}

#ring {
    width: 0;
    height: 0;
}

#line-ctn {
    width: 2%;
    height: 100%;
    background: rgba(255, 255, 255, 0.425);
}
#white-line {
    position: relative;
    height: 0%;
    opacity: 0;
    background: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.651), rgb(255, 255, 255));
}

h2 {
    position: relative;
    margin: 0;
    font-size: 4em;
    color: red;
    z-index: 1;
    overflow: hidden;
    width: 300px;
}

h2::before {
    content: "";
    position: absolute;
    left: 0;
    width: 120%;
    height: 100%;
    background: linear-gradient(90deg, transparent 0%, #000 50%, #000 100%);
    animation: distorsion 2s linear forwards;
}
@keyframes distorsion {
    0% {
        transform: translate3d(-20%,0,0);
    }
    100% {
        transform: translate3d(110%,0,0);
    }
}