%z {
    z-index: 9999;
}

%scroll {
    position: fixed;
    top: 0;
    right: 0;
    width: 15px;
    border-radius: 10px;
}

%coord {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
%left-corner {
    left: 0;
    top: 0;
}

%marge {
    margin: 0 auto;
}

%marge_theme_elt {
    margin: auto;
}

%pointer {
    cursor: pointer;
}

%rel {
    position: relative;
}
%abs {
    position: absolute;
}
%fixed {
    position: fixed;
}

%width {
    width: 100%;
}
%height {
    height: 100%;
}
%size {
    width: 100%;
    height: 100%;
}
%circle {
    border-radius: 50%;
}

%opc-0 {
    opacity: 0;
}
%opc-9 {
    opacity: 0.9;
}
%opc-7 {
    opacity: 0.7;
}
%opc-1 {
    opacity: 1;
}

%d-none {
    display: none;
}
%d-block {
    display: block;
}
%flex {
    display: flex;
}
%d-grid {
    display: grid;
}

%o-hidden {
    overflow: hidden;
}

%center {
    display: grid;
    place-items: center;
}

%cover {
    background-size: cover !important;
}

%pseudo-elt {
    content: "";
    @extend %abs;
    @extend %left-corner;
    @extend %size;
}

%fullscreen {
    @extend %d-none;
    @extend %size;
    @extend %fixed;
    @extend %z;
    @extend %coord;
}

%glass {
    background: rgba(255, 255, 255, .1);
}

%disparition {
    transform: scale(0);
    opacity: 0;
}
%fast-transition {
    transition: all .5s;
}
%slow-transition {
    transition: all 1s;
}
